* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: rgb(8,59,76);
    text-align: center;
}
.container {
    margin: 50px auto 0;
    width: 450px;
}
h1 {
    color: white;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    width: 50px;
    height: 50px;
    background: rgb(19,137,178);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-green {
    background: rgb(10,214,161);
}
.box-yellow {
    background: rgb(255,209,102);
}
.box-pink {
    background: rgb(240,70,111);
}